.progress-container {
            width: 100%;
            background-color: #e0e0e0;
            border-radius: 5px;
            overflow: hidden;
        }

 .progress-bar {
            height: 30px;
            width: 0%; /* Start with 0% */
            background-color: #4caf50;
            text-align: center;
            line-height: 30px; /* Center the text vertically */
            color: white;
            transition: width 0.3s; /* Smooth transition */
}
body {
			display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
		}
		
